.pure-menu {
	&.menu-default {
		background: $menu-color;
		padding: 8px 10px;
		border-radius: 3px;
		font-size: $base-font-size + 2;
		a {
			color: $menu-link-color;
			&:hover, &:focus, &.pure-menu-selected{
				border-radius: 3px;
				background: $menu-link-hover-background-color;
				color: $menu-link-hover-color;
			}
		}
	}
	&.menu-plain {
		border: 0;
		margin-top: 100px;
		a {
			padding: 5px 10px;
			margin-left:-10px;
		}
	}
	&.menu-plain-submenu{
		border: 0;
		background: none;
		a {
			padding-left:40px;
		}
		.menu-plain-submenu {
			a {
				padding-left: 60px;
			}
		}
	}
}

.menu-trigger {
	@include transition(all 0.2s ease-out);
	float: right;
	border-radius: 3px;
	display: block;
	background: $menu-link-color;
	color: $menu-color; 
	font-size: 3em;
	z-index: 10;
	margin-right: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	&:hover, &:focus, &.active {
		background: $menu-color;
		color: $menu-link-color;
	}
	@include respond(md){
		display: none;
	}
}