/**
 * Accessibility Skiplinks for screen readers, allow users to bypass
 * content recurring on every page to access the menu
 * or the content directly additionally for regular users by using tab
 */
.accessibility-skip-links a {
	height:1px;
	top:-110%;
	overflow:hidden;
	padding: 5px 10px;
	position:absolute;
	width:1px;

	&:focus, &:active {
		display: inline-block;
		height:auto;
		position:static;
		width:auto;
	}
}

.accessibility-nonvisual-indicator { // Content often used by people using screenreaders
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
	overflow: hidden;
	position: absolute;
}