/*
 * Styles for header elements
 */
.brand {
	margin: 0;
	padding-top: 13px;
	padding-bottom: 20px;
	a {
		@extend h1;
		display: block;
		float: left;
		font-size: 72px;
		line-height:1em;
		margin-bottom: 0;
		margin-top: 0;
		overflow:visible;
		padding-bottom: 18px;
		position: relative;

		img {
			position: absolute;
			top: 0px;
			left: 0px;
		}

		span {
			float: left;
			margin-left: 20px;
		}

		&:visited {
			color: $body-font-color;
		}
	}
}

