/*
 * Styles for the main page footer
 */

.footer{
	clear: both;
	border-top:1px solid $default-color;
	padding-top:20px;
	margin-top:30px;
	background-color: $menu-color;
	a, p {
		color: $menu-link-color;
	}
}

.footer-logo{
	margin-top:20px;
	img{
		margin-bottom:0;
	}
}

.footer-copyright{
	padding-left:10px;
}
