/*
* For Silverstripe specific styling (e.g. to get forms to work as intended)
*/


/*
 * Forms
 */

form{
	@extend .pure-form;
	input.text {
		padding-top: 7px;
	}
	label {
		line-height: 3em;
	}
	div.field{
		margin-bottom:10px;
	}
}



.pure-button{
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: none;
		display:block;
		background:none;
		border:none;
		color:inherit;
	}

}



.btn.btn-primary{
	//@extend .primary;
}

.Actions .btn {
	float: left;
	margin-right:20px;
}

form {
	@include clearfix;
}

.fieldset{ //Silverstripe uses fieldsets wrongly, so don't style with gumby default
	border:none;
}

#ForgotPassword { //ID only used because silverstripe does not provide a class
	@include clearfix;
	float: left;
	font-size: 0.8em;
	line-height: 35px;
	padding-left: 20px;
}

/*
 * Breadcrumbs
 */
.breadcrumbs {
	font-size: 0.8em;
	margin-top: 10px;
	a {
		font-weight: bold;
	}
	@include respond(sm) {
		display: none; //Hide on mobile phones
	}
}
